{##
 # base_form_list.twig
 # 
 # Lists data entry forms.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_list.twig for parameters
 #}
{% extends "base_list.twig" %}

{% block javascript %}
  
  {{ parent() }}
  <script type="text/javascript">
    $( function() {
      // reload page if cohort selector is changed
      $( "#{{ widget.full }}__restrict_cohort_id" ).change( function() {
        var cohort_id = $( "#{{ widget.full }}__restrict_cohort_id option:selected" ).val();
        slot_load( {{ slot }}, "{{ widget.subject }}", "{{ widget.name }}",
                   { "restrict_cohort_id": cohort_id } );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}

  <div style="padding-top: 4px; padding-bottom: 4px;">
    <span>
      Restrict to cohort:
      <select id="{{ widget.full }}__restrict_cohort_id" class="ui-state-default">
        {% for id, name in cohort_list %}
          <option {{ id == restrict_cohort_id ? "selected" : "" }}
                  value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </span>
  </div>

  {{ parent() }}

{% endblock widget %}
