{##
 # base_form_view.twig
 # 
 # Extends the base_record template for adding records.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
{% extends "base_record.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      // download button
      $( "#{{ widget.full }}__download" ).click( function() {
        window.location = "{{ widget.subject }}/download?" + jQuery.param( { id: {{ id }} } );
      } );

      {% if allow_adjudication %}
        // submit button
        $( "#{{ widget.full }}__submit" ).click( function() {
          var args = new Object();
          var columns = new Object();
          $( "#{{ widget.full }}__edit_form input:radio:checked" ).each( function() {
            var id_string = $(this).attr( "name" );
            var column_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
            columns[column_name] = $(this).val();
          } );
          args.id = {{ id }};
          args.columns = columns;
          if( ajax_push( "{{ widget.subject }}", "adjudicate", args ) ) slot_prev( {{ slot }} );
        } );
      {% endif %}

      // invalidate button
      $( "#{{ widget.full }}__invalidate" ).click( function() {
        confirm_dialog(
          "Invalidate form #{{ id }}?",
          "Are you sure you want to invalidate this form?  " +
          "You will no longer have access to this form if you click yes.",
          function() {
            if( ajax_push( "{{ widget.subject }}", "edit",
                           { id: {{ id }}, columns: { invalid: 1 } } ) )
              slot_prev( {{ slot }} );
          }
        );
      } );

      // defer buttons
      {% if entry_1.exists %}
        $button1 = $( "#{{ widget.full }}__defer_{{ entry_1.user }}" );
        {% if entry_1.deferred %}$button1.button( { disabled: true } );{% endif %}
        $button1.click( function() {
          var args = new Object();
          args.id = {{ entry_1.id }};
          args.columns = { deferred: 1 };
          if( ajax_push( "{{ widget.subject }}_entry", "edit", args ) ) slot_refresh( {{ slot }} );
        } );
      {% endif %}
      {% if entry_2.exists %}
        $button2 = $( "#{{ widget.full }}__defer_{{ entry_2.user }}" );
        {% if entry_2.deferred %}$button2.button( { disabled: true } );{% endif %}
        $button2.click( function() {
          var args = new Object();
          args.id = {{ entry_2.id }};
          args.columns = { deferred: 1 };
          if( ajax_push( "{{ widget.subject }}_entry", "edit", args ) ) slot_refresh( {{ slot }} );
        } );
      {% endif %}

      // always start the submit button disabled
      $( "#{{ widget.full }}__submit" ).button( { disabled: true } );
      {% if allow_adjudication %}
        // radio buttons (once all are selected enable the submit button)
        $( "#{{ widget.full }}__edit_form input:radio" ).click( function() {
          var enable = true;
          $( "#{{ widget.full }}__edit_form input:radio" ).each( function() {
            name = $(this).attr( "name" );
            if( 0 == $( "input:radio[name=" + name + "]:checked" ).length ) enable = false;
          } );

          $( "#{{ widget.full }}__submit" ).button( { disabled: !enable } );
        } );
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block record_items %}
  <table id="{{ widget.full }}__edit_form">
    {% for item_id, entry in item %}
      <tr>
        <td rowspan="2" class="heading" style="padding-right: 1.0em">
          <span class="title">{{ entry.heading }}:</span>
        </td>
        <td class="heading"
            style="padding-left: 0.5em; padding-top: 0.5em; padding-right: 0.5em">
          <span class="title">{{ entry.entry_1.user }}</span>
        </td>
        <td class="heading"
            style="padding-left: 0.5em; padding-top: 0.5em; padding-right: 0.5em">
          {% if entry.conflict and allow_adjudication %}
            <input type="radio"
                   name="{{ widget.full }}__{{ item_id }}"
                   value="{{ entry.entry_1.user }}" />
          {% endif %}
        </td>
        <td class="content"
            style="padding-left: 0.5em; padding-top: 0.5em; padding-right: 0.5em">
          <div class="padded">{{ entry.entry_1.value }}</div>
          {% if entry.entry_1.error %}
            <div class="help_note ui-state-error">{{ entry.entry_1.error }}</div>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class="heading"
            style="padding-left: 0.5em; padding-bottom: 0.5em; padding-right: 0.5em">
          <span class="title">{{ entry.entry_2.user }}</span>
        </td>
        <td class="heading"
            style="padding-left: 0.5em; padding-top: 0.5em; padding-right: 0.5em">
          {% if entry.conflict and allow_adjudication %}
            <input type="radio"
                   name="{{ widget.full }}__{{ item_id }}"
                   value="{{ entry.entry_2.user }}" />
          {% endif %}
        </td>
        <td class="content"
            style="padding-left: 0.5em; padding-bottom: 0.5em; padding-right: 0.5em">
          <div class="padded">{{ entry.entry_2.value }}</div>
          {% if entry.entry_2.error %}
            <div class="help_note ui-state-error">{{ entry.entry_2.error }}</div>
          {% endif %}
        </td>
      </tr>
      {% if not loop.last %}
        <tr><td></td><td colspan="3"><hr class="ui-widget ui-widget-content"</td></tr>
      {% endif %}
    {% endfor %}
    {% if actions|length %}
      <tr><td colspan="22"><hr class="ui-widget ui-widget-content"></td></tr>
      <tr>
        <td class="heading"><span class="title">Actions:</span></td>
        <td colspan="3" class="content">
          {% for action_id, action in actions %}
            <button {% if action.description|default(false) %}
                      title="{{ action.description }}"
                    {% endif %}
                    id="{{ widget.full }}__{{ action_id }}">{{ action.heading }}</button>
          {% endfor %}
        </td>
    {% endif %}
  </table>
{% endblock record_items %}

{% block post_record %}

  {{ parent() }}
  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.full, '', 'Back', 'right', true ) }}

{% endblock post_record %}
