{##
 # consent_form_entry_view.twig
 # 
 # View consent_form_entry details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      // make all help notes appear as error text
      $( ".help_note" ).addClass( 'ui-state-error' );

      // download button
      $( "#{{ widget.full }}__scan" ).click( function() {
        window.location = "consent_form/download?" +
                          jQuery.param( { id: {{ consent_form_id }} } );
      } );

      // defer button
      $( "#{{ widget.full }}_defer" ).click( function() {
        var args = new Object();
        args.id = {{ id }};
        args.columns = { deferred: 1 };
        if( ajax_push( "consent_form_entry", "edit", args ) ) slot_prev( {{ slot }} );
      } );

      // submit button
      $( "#{{ widget.full }}_submit" ).click( function() {
        var args = new Object();
        args.id = {{ id }};
        var errors = ajax_pull( "consent_form_entry", "validate", args );
        if( 0 == errors.length )
        {
          args.columns = { deferred: 0 };
          if( ajax_push( "consent_form_entry", "edit", args ) ) slot_prev( {{ slot }} );
        }
        else
        {
          slot_refresh( {{ slot }} );
        }
      } );
    } );
  </script>

{% endblock javascript %}

{% block record_items %}
  
  {{ parent() }}
  <hr class="ui-widget ui-widget-content">
  <table>
    <tr>
      <td class="heading">Actions:</td>
      <td class="content">
        <button id="{{ widget.full }}__scan">Download</button>
      </td>
    </tr>
  </table>

{% endblock record_items %}

{% block post_record %}

  {{ parent() }}
  {% from 'macros.twig' import confirm_buttons %}
  {{ confirm_buttons( slot, widget.full, ['defer','submit'], '', 'right', true ) }}

{% endblock post_record %}
