{##
 # form_chart.twig
 # 
 # @author Patrick Emond <emondpd@mcmaster.ca>
 #}
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>{{ application_title }}</title>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load( "visualization", "1", {packages:["corechart"]} );
    google.setOnLoadCallback( drawChart );
    function drawChart() {
      var data = new google.visualization.arrayToDataTable( [
        ['Type', 'Zero Entries', 'One Entry', 'Two Entries'],
      {% for row in data %}
        ['{{ row.type }}', {{ row.zero }}, {{ row.one }}, {{ row.two }}]{{ loop.last ? "" : "," }}
      {% endfor %}
      ] );

      var chart = new google.visualization.ColumnChart( document.getElementById( 'chart' ) );
      var options = {
        title: "{{ title }}",
        chartArea: {
          left: "10%",
          top: "10%",
          width: "70%",
          height: "75%"
        }
      };

      chart.draw( data, options );
    }
  </script>
</head>
<body>
  <div id="chart" style="width:100%; height:100%"></div>
</body>

</html>
