{##
 # participant_view.twig
 # 
 # View participant details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "base_view.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      {% if contact_form_available %}
        $( "#{{ widget.full }}__contact_form" ).click( function() {
          window.location = "contact_form/download?" + jQuery.param( { id: {{ id }} } );
        } );
      {% endif %}
      {% if consent_form_available %}
        $( "#{{ widget.full }}__consent_form" ).click( function() {
          window.location = "consent_form/download?" + jQuery.param( { id: {{ id }} } );
        } );
      {% endif %}
    } );
  </script>

{% endblock javascript %}

{% block record %}

  {{ parent() }}
  {% from 'macros.twig' import include_list %}
  {{ include_list( 'address', address_list|default(false), true ) }}
  {{ include_list( 'phone', phone_list|default(false), true ) }}
  {{ include_list( 'availability', availability_list|default(false), true ) }}
  {{ include_list( 'consent', consent_list|default(false), true ) }}
  {{ include_list( 'alternate', alternate_list|default(false), true ) }}

{% endblock record %}

{% block record_items %}
  
  {{ parent() }}
  <hr class="ui-widget ui-widget-content">
  <table>
    <tr>
      <td class="heading">Download Forms:</td>
      <td class="content">
        {% if not contact_form_available and not consent_form_available %}
          (no forms available)
        {% else %}
          {% if contact_form_available %}
            <button id="{{ widget.full }}__contact_form">contact</button>
          {% endif %}
          {% if consent_form_available %}
            <button id="{{ widget.full }}__consent_form">consent</button>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  </table>

{% endblock record_items %}
