{##
 # participant_import.twig
 # 
 # Form to import participants with Mastodon.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      // update button
      $( "#{{ widget.compound }}__import" ).click( function () {
        $( this ).find( "span" ).html( 'Importing...' );
        if( ajax_push( 'participant', 'import' ) ) slot_prev( {{ slot }} );
        $( this ).find( "span" ).html( 'Import' );
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  <div class="ui-widget ui-widget-content app-widget-content">
    <div class="spacer">
      The following list is depending on the QUEXF OCR system.  Once participants are imported
      they will be assigned a UID from the available pool and removed from QUEXF.  Participants
      will only be imported if there are UIDs available in the pool, otherwise they are ignored.
    </div>
    <div id="{{ widget.full }}__results">
      <table style="width:60%; margin-left:20%; margin-right:20%">
        {% for participant_count in participant_count_list %}
          <tr>
            <td class="heading">{{ participant_count.title }}</td>
            <td>{{ participant_count.count }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="heading">Size of unique identifier pool</td>
          <td>{{ pool_size }}</td>
        </tr>
      </table>
      <div class="spacer" style="text-align: right">
        <button id="{{ widget.full }}__import" style="width:120px">Import</button>
      </div>
    </div>
  </div>
{% endblock widget %}
