{##
 # service_participant_release.twig
 # 
 # Form to release participants with other services.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}
  <script type="text/javascript">
    $( function () {
      // update button
      $( "#{{ widget.compound }}__update" ).click( function () {
        var args = new Object();
        $( "#{{ widget.full }}_form :input" ).each( function() {
          var id_string = $(this).attr( "id" );
          var param_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
          if( "update" != param_name )
            args[param_name] = "checkbox" == $(this).attr( "type" )
                             ? ( $(this).is( ":checked" ) ? 1 : 0 )
                             : $(this).val();
        } );

        var allow_proceed = false;
        var data = ajax_pull( "service", "participant_release", args );
        if( undefined != data ) {
          var html = '<table style="width:34%; margin-left:33%; margin-right:33%">';
          for( var key in data )
          {
            html += '<tr><td class="heading">' + key +
                    '</td><td>' + data[key] +
                    '</td></tr>';
            if( 0 < data[key] ) allow_proceed = true;
          }
          html += '</table>' +
                  '<div class="spacer" style="text-align: right">' +
                  '<button id="{{ widget.full }}__proceed" style="width:120px"' +
                  ( allow_proceed ? '' : ' disabled' ) +
                  '>Proceed</button>' +
                  '</div>';
          $( "#{{ widget.full }}__results" ).html( html );
          $( "#{{ widget.full }}__proceed" ).button();
        }

        $( "#{{ widget.full }}__proceed" ).click( function () {
          var args = new Object();
          $( "#{{ widget.full }}_form :input" ).each( function() {
            var id_string = $(this).attr( "id" );
            var param_name = id_string.substring( id_string.lastIndexOf('__') + 2 );
            if( "update" != param_name )
              args[param_name] = "checkbox" == $(this).attr( "type" )
                               ? ( $(this).is( ":checked" ) ? 1 : 0 )
                               : $(this).val();
          } );
          if( ajax_push( "service", "participant_release", args ) ) {
            // let the user know the operation is complete and delete the proceed button
            $(this).remove();
            alert( "The operation was successful." );
          }
        } );
      } );

      $( "#{{ widget.full }}__start_date" ).datepicker( {
        dateFormat: 'yy-mm-dd',
        showAnim: 'slideDown'
      } );

      $( "#{{ widget.full }}__end_date" ).datepicker( {
        dateFormat: 'yy-mm-dd',
        showAnim: 'slideDown'
      } );
    } );
  </script>

{% endblock javascript %}

{% block widget %}
  <div id="{{ widget.full }}_form" class="ui-widget ui-widget-content app-widget-content">
    <div class="spacer">
      <p>
        Provide a list of participants which you wish to release to another application.
        UIDs must be separated by a comma or space and may be qualified by single
        or double quotes (ie: A123456 B123456 C123456).  Clicking the "update"
        button will display a summary of changes to be performed which should be
        carefully reviewed before proceeding with the release.
      </p>
    </div>
    <table>
      {% if 1 < services|length %}
        <tr>
          <td class="heading">
            <span class="title">Service:</span>
          </td>
          <td class="content">
             <select id="{{ widget.full }}__service_id" style="width: 100%" class="ui-state-default">
              {% for service in services %}
                <option value="{{ service.id }}">{{ service.name }}</option>
              {% endfor %}
             </select>
          </td>
        </tr>
      {% else %}
        {% for service in services %}
          <input id="{{ widget.full }}__service_id" type="hidden" value="{{ service.id }}" />
        {% endfor %}
      {% endif %}
      <tr>
        <td class="heading">
          <span class="title">UID list:</span>
        </td>
        <td class="content">
          <textarea id="{{ widget.full }}__uid_list" style="height: 16em;"></textarea>
        </td>
      </tr>
      <tr>
        <td class="heading">
          <span class="title">Start Date:</span>
        </td>
        <td class="content">
          <input id="{{ widget.full }}__start_date" type="text" style="width:99%" value="" readonly />
          <div class="help_note">
            If set then only those participants in the UID list field who were added to the
            data entry system on or after the given date will be included.
          </div>
        </td>
      </tr>
      <tr>
        <td class="heading">
          <span class="title">End Date:</span>
        </td>
        <td class="content">
          <input id="{{ widget.full }}__end_date" type="text" style="width:99%" value="" readonly />
          <div class="help_note">
            If set then only those participants in the UID list field who were added to the
            data entry system on or before the given date will be included.
          </div>
        </td>
      </tr>
    </table>
    <div class="spacer" style="text-align: right">
      <button id="{{ widget.full }}__update" style="width:120px">Update</button>
    </div>
    <div id="{{ widget.full }}__results"></div>
  </div>
{% endblock widget %}
